.home {
  .history {
    overflow-y: scroll;
    width: 300px;
    .tool-bar {
      background: #f6f6f6;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      .title {
        color: rgba(0, 0, 0, 0.85);
      }
    }
    .history-item {
      padding: 12px;
      .request-type {
        margin-right: 10px;
      }
      &:hover {
        background: #f6f6f6;
      }
    }
  }
  .request {
    padding: 12px;
    width: calc(100% - 324px);
    box-sizing: border-box;
    .request-form {
      height: 36px;
      .request-search {
        overflow: hidden;
        margin-right: 12px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .request-select {
          padding: 0 10px;
          width: 100px;
          background: rgba(0, 0, 0, 0.1);
          border: 0;
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          outline: none;
          color: rgb(96, 98, 102);
          &:focus {
            background: #fff;
          }
        }
        .request-input {
          overflow-x: scroll;
          padding: 0 10px;
          height: 100%;
          background: rgba(0, 0, 0, 0.1);
          border: 0;
          outline: none;
          color: rgb(96, 98, 102);
          &:focus {
            background: #fff;
          }
        }
      }
      .request-button {
        width: 80px;
        background: #1890ff;
        border-radius: 4px;
        color: #fff;
      }
    }
    .request-result {
      position: relative;
      margin-top: 20px;
      .result-title {
        margin-bottom: 20px;
        color: rgba(0, 0, 0, 0.85);
      }
      .result-panel {
        overflow: hidden;
        background: #f6f6f6;
        border-radius: 6px;
        height: 0;
        pre {
          width: 100%;
          height: calc(100% - 20px);
          margin: 0;
          code {
            display: block;
          }
        }
      }
    }
  }
}
